* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

.container {
    width: 100%;
    height: 100%;
    background-color: #0A1F32;
}

.header {
    width: 100%;
    height: 60px;
    background-color: rgba(78, 70, 66, 0.447);
    box-shadow: 10px 5px 50px black;
}

.wrapper {
    width: 90%;
    height: 1000px;
    margin: 0 auto;
}

#canvas {
    border: 1px solid black;
    background-color: rgb(163, 149, 149);
}