* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    text-decoration-color: white;
}

.container {
    width: 100%;
    height: 100%;
    background-color: #0A1F32;
}

.header {
    width: 100%;
    height: 60px;
    background-color: #344756;
    box-shadow: 10px 5px 50px black;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.wrapper {
    width: 80%;
    height: 1680px;
    margin: 0 auto;
}

#canvas {
    border: 1px solid black;
    background-color: rgb(163, 149, 149);
}